/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

.custom-control-label {

  &::before,
  &::after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #28a745;
  border-color: #28a745;
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
